@media (min-width: 1024px) {
    body {
        background-color: var(--primary-color);
        min-height: 100vh;
        overflow-x: hidden;
    }

    .content-wrapper {
        position: relative;
        min-height: calc(100vh - 135px);
    }

    .weather-icon {
        display: none;
    }

    .hero-image {
        height: 100%;
    }

    .hero-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .country {
        position: absolute;
        background-color: var(--bg-overlay);
        padding: 50px 20px 20px;
        text-align: left;
        box-shadow: 0 10px 30px var(--shadow-dark);
    }

    .country-data {
        position: absolute;
        top: -15px;
        left: -15px;
        background-color: var(--primary-color);
        color: var(--white);
        padding: 10px 30px;
        width: 80%;
        margin-bottom: 0;
        border-left: none;
    }

    .data-section {
        top: 50px;
        left: 50px;
        width: 350px;
    }

    .weather {
        bottom: 50px;
        right: 50px;
        width: 300px;
    }

    .weather-section .country-title::after {
        display: inline-block;
        padding-left: 20px;
        content: "☀️";
    }
}